-
	var
		htmlClass = "wide wow-animation",
		fonts = "//fonts.googleapis.com/css?family=Lato:300,400,500,700,900%7CRoboto:400",
		subscribeFormCounter = 0,
		logo = {
			default: { normal: 'logo-default-181x50', retina: 'logo-default-362x100' },
			inverse: { normal: 'logo-inverse-181x50', retina: 'logo-inverse-362x100' },
			name: 'Wildlife'
		},
		links = {
			post: 'blog-post.html',
			getTemplate:'#get-template'
		},
		colors = {
			primary: '#b6c062'
		},
		menu = [
			{
				title: 'Home',
				category: 'home', 
				link: 'index.html'
			},
			{
				title: 'Pages',
				category: 'pages',
				link: '#',
				megamenu: [
					{
					title: 'Pages 1',
					list: [
						{ title: 'Typography' },
						{ title: 'Buttons' }, 
						{ title: 'Timers & Counters' },
						{ title: 'Forms' },
						{ title: 'Search results' }
					]
					},
					{
					title: 'Pages 2',
					list: [
						{ title: 'Grid system' },
						{ title: 'Icon Lists' },
						{ title: 'Privacy policy' },
						{ title: 'Coming Soon' },
						{ title: 'Team Member' }

					]
					},
					{
					title: 'Pages 3',
					list: [
						{ title: 'Blog Post' },
						{ title: 'News' },
						{ title: 'News 2' },
						{ title: 'About Us' }

						
					]
					},
					{
					title: 'Pages 4',
					list: [
						{ title: 'Gallery' },
						{ title: 'Projects' },
						{ title: 'Donate' }
					]
					}
				]
			},

			{
				title: 'Our Team',
				category: 'our-team'
			},
			{
				title: 'Partners',
				category: 'partners'
			},
			
			{
				title: 'Contacts',
				category: 'contacts'
			}
		];
