/*
* Breadcrumbs
*/
$breadcrumb-padding-vertical: 8px;
$breadcrumb-padding-horizontal: 15px;
$breadcrumb-bg: $gray-300;
$breadcrumb-color: $white;
$breadcrumb-active-color: rgba($white, .5);
$breadcrumb-separator: "\f111";

.breadcrumbs-custom {
	position: relative;
	padding: 35px 0 40px;
	text-align: center;
	background: linear-gradient(180deg, rgba($black, 0.2) 0%, rgba($black, 0.4) 100%);;
	
}

.breadcrumbs-custom-title {
	text-shadow: 0 4px 4px rgba($gray-800, 0.25);
	text-transform: uppercase;
	@include media-breakpoint-up(lg) {
		font-size: 60px;
	}
}

.breadcrumbs-custom-path {
	@include spacingX(30px);

	a {
		display: inline;
		vertical-align: middle;
		&,
		&:active,
		&:focus {
			color: $breadcrumb-color;
		}
	}

	li {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		font-size: 13px;
		letter-spacing: .08em;
		text-transform: uppercase;
		font-weight: 400;
		line-height: 1.7;
		color: rgba($white, .5);

		&::after {
			content: '';
			position: absolute;
			width: 5px;
			height: 5px;
			border-radius: 50%;
			top: 52%;
			right: -5px;
			display: inline-block;
			background: $secondary;
			transform: translate3d(0, -50%, 0);
		}
	}

	li:last-child {
		&:after {
			display: none;
		}
	}

	a:hover,
	li.active {
		color: $breadcrumb-active-color;
	}

}

* + .breadcrumbs-custom-path {
	margin-top: 14px;
}

@include media-breakpoint-down(md) {
	.breadcrumbs-custom-title {
		font-size: 26px;
	}
}

@include media-breakpoint-up(sm) {
	.breadcrumbs-custom {
		@include spacingX(60px);
	}

	* + .breadcrumbs-custom-path {
		margin-top: 22px;
	}
}

@include media-breakpoint-up(md) {
	.breadcrumbs-custom {
		padding: 140px 0 120px;
	}
}

@include media-breakpoint-up(xl) {
	.breadcrumbs-custom {
		padding-top: 260px;
		padding-bottom: 180px;
	}
}

@include media-breakpoint-up(xxl) {
	.breadcrumbs-custom {
		padding-top: 260px;
		padding-bottom: 180px;
	}
}
