section.section-lg.bg-default.text-center
    .container
        .wow-outer
            .wow.slideInDown
                h2.heading-with-text-bg
                    | Our Partners
                    span.block-background-text.text-decorative-black-20.big Partners
        // Owl Carousel
        .owl-carousel.dots-offset-lg(data-items='1' data-sm-items='2', data-md-items='3', data-dots-each="2"  data-lg-items='4' data-dots='true' data-nav='false' data-stage-padding='0', data-loop='false', data-margin='30', data-mouse-drag="false" data-autoplay="true")
            a(href='#').box-sponsor.box-sponsor-modern.wow-outer
                .wow.fadeInUp
                    +png('logo-inverse-1-270x121')
            a(href='#').box-sponsor.box-sponsor-modern.wow-outer
                .wow.fadeInUp
                    +png('logo-inverse-2-270x121')
            a(href='#').box-sponsor.box-sponsor-modern.wow-outer
                .wow.fadeInUp
                    +png('logo-inverse-3-270x121')
            a(href='#').box-sponsor.box-sponsor-modern.wow-outer
                .wow.fadeInUp
                    +png('logo-inverse-4-270x121')
            a(href='#').box-sponsor.box-sponsor-modern.wow-outer
                .wow.fadeInUp
                    +png('logo-inverse-1-270x121')
            a(href='#').box-sponsor.box-sponsor-modern.wow-outer
                .wow.fadeInUp
                    +png('logo-inverse-2-270x121')
            a(href='#').box-sponsor.box-sponsor-modern.wow-outer
                .wow.fadeInUp
                    +png('logo-inverse-3-270x121')
            a(href='#').box-sponsor.box-sponsor-modern.wow-outer
                .wow.fadeInUp
                    +png('logo-inverse-4-270x121')