+parallax({
    img: 'bg-image-2.jpg',
    innerClass: 'section-xl context-dark text-center overlay overlay-2'
})
    .container
        .row.row-50
            .col-sm-6.col-lg-3
                article.counter-classic.counter-text-stroke
                    .counter-classic-main
                        .counter 50

                    p.counter-text-stroke-title Saved species
            .col-sm-6.col-lg-3
                article.counter-classic.counter-text-stroke
                    .counter-classic-main
                        .counter 92

                    p.counter-text-stroke-title Team members
            .col-sm-6.col-lg-3
                article.counter-classic.counter-text-stroke
                    .counter-classic-main
                        .counter 340

                    p.counter-text-stroke-title Daily donations
            .col-sm-6.col-lg-3
                article.counter-classic.counter-text-stroke
                    .counter-classic-main
                        .counter 4

                    p.counter-text-stroke-title Partners