section.section.section-xl.section-xl-big.bg-default.text-center.position-relative
  .box-wave-top
  .container
    .row.row-50
      .col-md-6.col-lg-4.wow-outer
        .wow.slideInLeft
          +box-icon-classic({
            classMod: 'decorate-triangle decorate-color-secondary',
            icon: 'linearicons-shield icon-gray-800',
            title: 'qualified Team'
          })
            p We have gathered a team of highly qualified animal  protection experts.
      .col-md-6.col-lg-4.wow-outer
        .wow.slideInDown
          +box-icon-classic({
            classMod: 'decorate-circle decorate-color-secondary-2',
            icon: 'linearicons-paw icon-gray-800',
            title: 'protecting all Species'
          })
            p Besides wild cats, we also aim to protect and save other species of wild animals.
      .col-md-6.col-lg-4.wow-outer
        .wow.slideInRight
          +box-icon-classic({
            classMod: 'decorate-rectangle decorate-color-primary',
            icon: 'linearicons-sun icon-gray-800',
            title: 'global Work'
          })
            p Our organization works globally to help rescue more endangered species.



